<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Oven Dashboard</title>
        <script src="/static/js/websocket.js" defer></script>
    </head>
    <body>
        <h1>Oven Monitoring Dashboard</h1>
        <h2 id="state">Oven Status: OFF</h2>
        <h3 id="mode">Mode: None</h3>
        <h3 id="time">Time Remaining: 0 seconds</h3>

        <h2>Command History</h2>
        <table>
            <thead>
                <tr>
                    <th>Command</th>
                    <th>Response</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody id="history">
                {% for entry in history %}
                <tr>
                    <td>{{ entry.command }}</td>
                    <td>{{ entry.response }}</td>
                    <td>{{ entry.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
